
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Question</div>


    <!-- Table -->
    <div >
        <li>{{question.name}}</li>

        <form name="editform"> <div class="form-group">
            <label for="answer">Answer</label>
                <textarea cols="40" rows="3" ng-model="question.answer" name="answer" class="form-control" id="answer"
                          placeholder="answer question here" type="Text" required> </textarea>
<input ng-show=false ng-model="question.new" name="new" class="form-control" id="new" type="checkbox" checked="false">

            <div class="alert alert-danger" role="alert" ng-show="editform.Question.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Question is Required!
            </div>

        </div>
            <button type="submit" class="btn btn-default" ng-click="answer()" ng-show="edit">Submit</button>
        </form>
         <!--<div ng-repeat="image in activity.images" class="textcenter">-->
        <!--<img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnail">-->
        <!--</div>-->

    </div>
</div>