<div class="sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Lab SE31 Menu bar</li>
    	<li ng-class="{true: 'active'}[menuActive('/addProduct')]"ng-show="hasRole('admin')">
        	<a href="#/addProduct">Add Product</a>
    	</li>
    	<li ng-class="{true: 'active'}[menuActive('/listProduct')]">
        	<a href="#/listProduct">All products</a>
    	</li>
		<li ng-class="{true: 'active'}[menuActive('/shoppingCart')]" ng-show="hasRole('user')">
			<a href="#/shoppingCart">Cart</a>
		</li>
    </ul>
</div><!--/.well -->
