
<div class="alert alert-success alert-dismissible" role="alert" ng-show="add">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <label translate>text.SuccessAddQues</label>
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="edit">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <label>text.SuccessEditQues</label>
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="delete">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
    <label translate>text.SuccessdeleteQues</label>
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><label translate>text.ques</label></div>


    <!-- Table -->
    <table class="table table-hover">

            <tr ng-repeat="question in questions">

            <td ng-show="!{{question.new}}">{{question.name}}</td>
                <td ng-show="!{{question.new}}">{{question.answer}}</td>
        </tr>

    </table>
    <table ng-show="hasRole('admin')" class="table table-hover">

        <tr ng-repeat="question in questions">

            <td ng-show="{{question.new}}"><a href="#/question/{{question.id}}">{{question.name}}</a></td>
        </tr>

    </table>
    <div >
        <form ng-show="hasRole('user')" name="askform">

            <div class="form-group">
                <label for="Question" translate>text.quesPleaseFill</label>
                <textarea cols="40" rows="3" ng-model="question.name" name="Question" class="form-control" id="Question"
                       placeholder="Please type your question here" type="Text" required> </textarea>


                <div class="alert alert-danger" role="alert" ng-show="editform.Question.$error.required">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"><label translate>text.error</label></span>
                    <label>text.errorQues</label>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="addQuestion()" translate>button.submit</button>
        </form></div>
</div>
