<ul class="menu">
        <li class="home"><a href="#/home" translate="">menubar.home</a></li>
        <li><a href="#/activity" class="navbar-link" translate>menubar.activities</a></li>

        <li><a href="#/history" class="navbar-link" translate>menubar.history</a></li>
        <li><a href="#/question" class="navbar-link" translate>menubar.qa</a></li>

        <li><a href="#/map" class="navbar-link" translate>menubar.map</a></li>
        <li><a href="https://www.facebook.com/watmuenngeokong" target="_blank"><img src="pic/YRlZLoO.png" style="height:40px"></a></li>
</ul>
